@import url('https://fonts.google.com/noto/specimen/Noto+Sans+KR?preview.size=14');
/* 폰트 가져오는 링크 */


*{
    margin:0;
	padding:0;
	color:#000;
    box-sizing: border-box;
}
/* 보통 웹페이지를 퍼블리싱할 때 기본값을 0으로 글자색은 검정으로 맞추고 시작한다 */

.fn-font {
    font-family: 'Noto Sans KR', sans-serif;
}

ul {
    list-style: none;
}
/* 리스트 앞쪽 땡땡이가 없어짐 */

a {
  text-decoration: none;
  outline: none;  
}
/* a태그에 밑줄을 빼고 외곽라인도 없어짐 */

.container {
    width:1440px;
    margin:0 auto;    
}
/* 컨테이너 크기를 1440으로하고 좌우 margin은 상하 0 좌우 auto로하면 반반씩나누어 가운데로 오게된다 */

header {
    width: 100%;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* width: 100%로하면 부모의 너비를 가져온다  container 너비 1440px
    display: flex 디스플레이 표시방식 align-items: 로 세로정렬가능
    center는 중앙정렬  justify-conten 는 가로정렬 space-between는 
    요소사이의 간격을 일정하게 만들어줌*/

header > h2 {
	margin-left:100px;
    font-size: 50;
}
header > nav {
	width: 600px;
	height:0%;
}
/* 메뉴들의 위치 */
header ul {
	width:80%;
	height: 50%;
	display: flex;
	justify-content: space-between;
}
/* 메뉴들 간격 */
header ul > li {
	font-size:20px;
	height: 100%;
	display: flex;
	align-items: center;
    margin-right:20px;
}




head {

}
body {

}
header {

}
nav{

}

footer {

}

