table {
  border-collapse: collapse;
  margin: 0 auto 0 auto;
  position: absolute;
  top: 300px;
  left: 865px;
}
td {
  border: 3px solid rgb(0, 0, 0);
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 60px;
  color: rgb(0, 0, 0);
}
div {
  font-size: 60px;
  color: green;
  box-sizing: border-box;
  position: relative;
  top: -250px;
  left: 1015px;
  

}
